#nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #282828;
  color: white;
  text-align: center;
  z-index: 10000;
  height: 3.5em;
  line-height: 3.5em;
}
#nav a {
  color: white;
  padding: 0 1.25em;
  text-decoration: none;
  display: inline-block;
}
#nav a.active {
  background: #484848;
}
#nav a:hover {
  background: #383838;
}
