<div class="bouncer-container">
  <img src="../../../assets/images/Angular.png" class="logo bounce delay-0" />
  <img src="../../../assets/images/C_Sharp.png" class="logo bounce delay-1" />
  <img src="../../../assets/images/CSS_logo.png" class="logo bounce delay-2" />
  <img
    src="../../../assets/images/Docker-Simbolo.jpg"
    class="logo bounce delay-3"
  />
  <img
    src="../../../assets/images/elasticsearch.png"
    class="logo bounce delay-4"
  />
  <img src="../../../assets/images/html.webp" class="logo bounce delay-5" />
  <img src="../../../assets/images/java.png" class="logo bounce delay-6" />
  <img
    src="../../../assets/images/javascript.webp"
    class="logo bounce delay-7"
  />
  <img src="../../../assets/images/mongodb.webp" class="logo bounce delay-8" />
  <img src="../../../assets/images/mysql.png" class="logo bounce delay-9" />
  <img
    src="../../../assets/images/postgresql.webp"
    class="logo bounce delay-10"
  />
  <img src="../../../assets/images/python.webp" class="logo bounce delay-11" />
  <img src="../../../assets/images/react.jpg" class="logo bounce delay-12" />
  <img src="../../../assets/images/rust.png" class="logo bounce delay-13" />
  <img
    src="../../../assets/images/springboot.webp"
    class="logo bounce delay-14"
  />
  <img
    src="../../../assets/images/Typescript.png"
    class="logo bounce delay-15"
  />
</div>
