<section id="Sobre" class="wrapper style2">
  <div class="container">
    <header class="major">
      <h2>Sobre mim</h2>
      <p>
        Sou um desenvolvedor fullstack apaixonado por criar soluções web
        modernas, performáticas e escaláveis. Com domínio nas principais
        tecnologias de front-end e back-end, ofereço projetos completos com
        qualidade, agilidade e foco total nos objetivos do cliente. Você pode
        contar comigo para transformar ideias em produtos digitais de alto
        nível.
      </p>
    </header>
    <div class="row equal-height">
      <div class="col-4 col-12-medium">
        <section class="box style1">
          <span class="icon solid featured fa-code"></span>
          <h3>Desenvolvimento Web</h3>
          <p>
            Atuação em clientes como **Petrobras**, **Prodesp**, **Detran**,
            **Poupa Tempo SP**, **Alma Viva Solutions**, **SPASSU**,
            desenvolvendo soluções web modernas e escaláveis. incluindo: -
            Sistemas de Agendamento e Relacionamento com o cidadão - Sala de
            Situação e Contingência - Eventos Commons - GEDAVE (Agricultura) -
            HR Estruturante - Integrações e documentação de APIs RESTful do
            Detran-SP.
          </p>
        </section>
      </div>

      <div class="col-4 col-12-medium">
        <section class="box style1">
          <span class="icon solid featured fa-laptop-code"></span>
          <h3>UX/UI</h3>
          <p>
            Design limpo e focado em usabilidade para o conforto do usuário,
            utilizando as melhores bibliotecas e tecnologias modernas como
            Bootstrap, Angular Material, Tailwind CSS, Materialize, Semantic UI,
            PrimeNG, entre outras tecnologias que garantem interfaces
            intuitivas, responsivas e de alta performance.
          </p>
        </section>
      </div>

      <div class="col-4 col-12-medium">
        <section class="box style1">
          <span class="icon solid featured fa-rocket"></span>
          <h3>Performance</h3>
          <p>
            Garanta aplicações com desempenho excepcional através de otimizações
            de código, caching inteligente e carregamento progressivo. Cada
            recurso é meticulosamente ajustado para oferecer velocidade,
            responsividade e escalabilidade, proporcionando uma experiência de
            usuário fluida e sem interrupções. Atributos indispensáveis para se
            destacar num mercado competitivo, onde eficiência e resultados
            sólidos impulsionam o sucesso.
          </p>
        </section>
      </div>

      <div class="col-4 col-12-medium">
        <section class="box style1">
          <span class="icon solid featured fa-server"></span>
          <h3>Backend Robusto</h3>
          <p>
            Construa APIs escaláveis e estáveis que garantam segurança e
            integridade dos dados, integrem-se com bancos de dados modernos e
            adotem uma arquitetura flexível para acompanhar o crescimento do
            negócio, tudo isso com as melhores práticas e um custo-benefício
            excepcional, essenciais para mentes capitalistas em busca de
            resultados sólidos.
          </p>
        </section>
      </div>

      <div class="col-4 col-12-medium">
        <section class="box style1">
          <span class="icon solid featured fa-cloud"></span>
          <h3>Hospedagem Confiável</h3>
          <p>
            Hospede seus projetos em servidores seguros que oferecem alta
            disponibilidade e desempenho garantido. Conte com uma infraestrutura
            robusta que suporta picos de tráfego sem comprometer a performance.
            Desfrute de suporte técnico especializado para resolver desafios
            rapidamente e garantir a continuidade dos seus serviços.
          </p>
        </section>
      </div>

      <div class="col-4 col-12-medium">
        <section class="box style1">
          <span class="icon solid featured fa-tools"></span>
          <h3>Manutenção de Sistemas Legados</h3>
          <p>
            Atualize, corrija e modernize suas aplicações legadas, garantindo
            estabilidade, segurança e continuidade para os sistemas críticos do
            seu negócio. Conte com a expertise de um desenvolvedor autônomo que
            transforma desafios em oportunidades e adapta soluções às demandas
            atuais. Experimente uma manutenção eficaz que alia inovação à
            tradição, preservando o valor dos seus investimentos e impulsionando
            o sucesso em um mercado competitivo.
          </p>
        </section>
      </div>
    </div>

    <app-ping-pong-tech></app-ping-pong-tech>
  </div>
</section>
