<section id="Topo" class="wrapper style1">
  <div class="container">
    <div class="row">
      <div class="col-6 col-12-medium">
        <span class="image fit"
          ><img
            src="assets/images/FotoPerfilNaPraia.jpeg"
            alt="FotoPerfilNaPraia"
        /></span>
      </div>
      <div class="col-6 col-12-medium">
        <header>
          <h1>Olá, eu sou <strong>Anderson</strong></h1>
        </header>
        <p>
          Desenvolvedor fullstack apaixonado por criar experiências incríveis no
          desenvolvimento web.
        </p>
        <ul class="actions">
          <li><a (click)="scrollTo('Sobre')" class="button">Saiba mais</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
