<div class="security-container">
  <div class="lgpd-modal">
    <button class="close-btn" (click)="closeModal()">✖</button>

    <div class="security-icon">🔐</div>
    <h1>Seus dados estão seguros</h1>
    <p>
      Valorizamos sua privacidade. Não armazenamos suas informações em bancos de
      dados e não utilizamos seus dados para fins comerciais.
    </p>
    <p>
      Seus dados são utilizados unicamente para fins de contato, especialmente
      quando o canal via WhatsApp não está disponível ou você preferir o contato
      por e-mail.
    </p>
    <p>
      Estamos comprometidos com as diretrizes da
      <strong>Lei Geral de Proteção de Dados (LGPD)</strong>, garantindo
      segurança, sigilo e total respeito às suas informações.
    </p>
  </div>
</div>
