<footer class="footer">
  <ul class="social">
    <li>
      <a href="https://x.com/Ander32663638" class="icon brands fa-twitter"
        ><span class="label">X.com</span></a
      >
    </li>
    <li>
      <a href="https://github.com/BlackCode777" class="icon brands fa-github"
        ><span class="label">GitHub</span></a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/anderson-martins-06a316239/"
        class="icon brands fa-linkedin-in"
        ><span class="label">LinkedIn</span></a
      >
    </li>

    <!-- Incluir o lindo Whatsapp -->
    <li>
      <a
        href="https://api.whatsapp.com/send?phone=5521969180363&text=Ol%C3%A1%2C%20Anderson%2C%20tudo%20bem%3F"
        class="icon brands fa-whatsapp"
        ><span class="label">WhatsApp</span></a
      >
    </li>
  </ul>

  <ul class="copyright">
    <li>&copy; Anderson Martins</li>
    <li>
      Template:
      <a href="https://github.com/BlackCode777"
        >Anderson Martins - BlackcCode77</a
      >
    </li>
  </ul>
</footer>
